<h3>{{action}} Category</h3>
<div>
  <form *ngIf="ready" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nameRus">Name (ru)</label>
      <input type="text" class="form-control" id="nameRus" required [(ngModel)]="category.nameRus" name="nameRus">
    </div>

    <div class="form-group">
      <label for="nameKaz">Name (kz)</label>
      <input type="text" class="form-control" id="nameKaz" required [(ngModel)]="category.nameKaz" name="nameKaz">
    </div>

    <div class="form-group">
      <label for="nameEng">Name (en)</label>
      <input type="text" class="form-control" id="nameEng" required [(ngModel)]="category.nameEng" name="nameEng">
    </div>

    <div class="form-group">
      <label for="parentCategory">Parent Category Name (ru)</label>
      <select class="form-control" id="parentCategory" name="parentCategory" [(ngModel)]="category.parentId">
        <option [selected]="!category.parentId" [value]="null">Не выбрано</option>
        <option *ngFor="let cat of categories | async" [value]="cat.id" [selected]="category.parentId && cat.id == category.parentId">{{cat.nameRus}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button> 
    <button (click)="gotoList()" class="btn btn-primary ml-2">Back to Category List</button><br>
  </form>
</div>